# Fichiers générés par Jupyter
**/.ipynb_checkpoints/

# Ignorer les fichiers de données volumineux
*.csv
*.parquet

# Ignorer le dossier de données brut
data/

# Ignorer les notebooks et CSV générés dans le projet de test
test/Docker_PostgreSQL_Pyspark/notebooks/

# Ignorer tout le dossier Docker dans "test"
test/Docker/
test/python/

# Autres répertoires que tu ne veux pas versionner
notebook/
notebooks/
documentation/
utils/

# Dossiers d'environnements virtuels
env/
.venv/

# Fichiers compilés
__pycache__/
*.pyc

# Config PySpark local ou logs
logs/
*.log
